html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --section-vertical-spacing-lg: 120px;
  --section-vertical-spacing-md: 80px;
  --section-vertical-spacing-sm: 50px;
}


.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


/* Extra small and Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-section-px {
    padding-left: 18px;
    padding-right: 18px;
  }

  .main-section-pt {
    padding-top: var(--section-vertical-spacing-sm);
  }

  .main-section-pb {
    padding-bottom: var(--section-vertical-spacing-sm);
  }

  .main-section-py {
    padding-top: var(--section-vertical-spacing-sm);
    padding-bottom: var(--section-vertical-spacing-sm);
  }
}

/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (min-width: 900px) {
  .main-section-px {
    padding-left: 70px;
    padding-right: 70px;
  }

  .main-section-pt {
    padding-top: var(--section-vertical-spacing-md);
  }

  .main-section-pb {
    padding-bottom: var(--section-vertical-spacing-md);
  }

  .main-section-py {
    padding-top: var(--section-vertical-spacing-md);
    padding-bottom: var(--section-vertical-spacing-md);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-section-px {
    padding-left: 120px;
    padding-right: 120px;
  }

  .main-section-pt {
    padding-top: var(--section-vertical-spacing-lg);
  }

  .main-section-pb {
    padding-bottom: var(--section-vertical-spacing-lg);
  }

  .main-section-py {
    padding-top: var(--section-vertical-spacing-lg);
    padding-bottom: var(--section-vertical-spacing-lg);
  }
}